pkgbase = package
	pkgdesc = Dummy package used to exercise the aur-workflow CI/publish pipeline (tracks tagged releases)
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/its-me/dummy.releases
	arch = any
	license = MIT
	source = dummy.releases-0.1.3.tar.gz::https://github.com/its-me/dummy.releases/archive/refs/tags/v0.1.3.tar.gz
	sha256sums = 8f4d176cc7858a6d8261c026c415b49364618f093ca58afc3a05a9ea875f77e2

pkgname = package
